form{
    border-radius: 25px;
    border-width: medium;
    border-style: double;
    text-align: center;
    padding: 10px;
}

label{
    float: left;
    clear: both;
}

input[type="text"], input[type="password"]{
    float: right;
    
}

#form-buttons{
    clear: both;
    display: block;
}